
.navbar, .header-area{
    background-color: #59316b;
}
header h1 {
    font-size: 5rem ;
}

.text-div h1 {
    color: #59316b;
}
.meet-link {
    color: #59316b;
}
.meet-link:hover {
    text-decoration: underline !important;
}

.big-text h6 {
    color: #59316b;
}
.big-text h1 {
    font-size: 5vw;
}

.footer-area {
    background-color: #59316b;
}
.newsletter-text button {
    background-color: #381d44;
}

.newsletter-text .subscribe{
    color:#aa82bd
}
